body {
  background: #e7fffd;
}
.eKYC {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
.KYC-Description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.KYC-Image-Right {
  height: 456.04px;
  left: 233.63px;
  border: 0.9433294534683228;
}
.box {
  padding: 10px 0px 8px 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
}
.Pbox {
  background: #d9f1f1;
  width: 100%;
  height: 338px;
  padding: 0px 0px 30px 0px;
  gap: 19px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-top: 40px;
  justify-content: center;
  transition: 0.4s;
  cursor: pointer;
}
.Pbox:hover {
  transform: scale(1.03);
}
.pTop-Content {
  display: flex;
  align-items: end;
}
.servicesBox {
  width: 100%;
  height: 200px;
  gap: 30px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background: #d9f1f1;
  display: flex;
  transition: 0.4s;
}
.servicesBox:hover {
  transform: scale(1.04);
}
.Simple-Easier-Section {
  background: #d9f1f1;
  height: 955px;
  gap: 10px;
  opacity: 0px;
}
